<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2020</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Engineering</div>
            <h4 class="category">Azrieli College of Engineering,Jerusalem
            </h4>
            <ul>
              <li>Completed B.S.c in Industrial Engineering and Management specialization at Information Systems with
                <b>88 GPA</b>.</li>
                <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
              <li><b>Final Project - developing an information system to track initiation process</b>
                <br> Tools and workspaces I used during the project: Excel, MS Project, Axure RP,
                  Angular JS, SQL server and AWS.</li>
              <li>Machine learning and Data analysis final project, building a few different
                models who forecasted if organizations will bankrupt or not</li>
              <li>Project in UI – Build an app at Axure RP for Health maintenance organization</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2013 - 2015</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">Gyandeeep Vidhyalaya
            </h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and chemistry.
              </li>
              <li>
                Completed my high school with<b> 78%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2013</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Gyandeeep Vidhyalaya
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>

              <li>
                Completed my Secondary school with <b>84%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>