.cc-reference p{
    font-weight: 1000px;
    color: black;
    font-style: bold; 
  }

 .category p{
      width: 10% ;      
  }

  .category{
    text-transform: capitalize;  
    font-weight: 100%;
}
.category2{
    text-transform: capitalize;  
    font-weight: 100%;
}
  .lena{
      width: 78%;
      height: 50%;
  }
  .Bella{
    width: 78%;
    height: 50%;
}